* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #054966;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header {
    width: 100%;
    background-color: #020e1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.encabezado-pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020e1d;
    color: white;
    text-align: center;
    padding: 1em 0;
  }

.encabezado-pagina .logo-encabezado {
    width: 80px;
    height: auto;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #68c3a3;
}

.hero {
    text-align: center;
    padding: 10px;
    background-color: #054966;
    color: #ffffff;
    width: 100%;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

footer {
    background-color: #020e1d;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 0.9rem;
    bottom: 0;
}
/* Estilos para la sección de departamentos */
.departments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: #054966;
}

.card {
    background-color: #32656f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 280px;
    text-align: center;
    color: #ffffff;
    transition: transform 0.3s;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #68c3a3;
}

.card p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.card .button {
    background-color: #68c3a3;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card .button:hover {
    background-color: #57a990;
}

.card:hover {
    transform: translateY(-5px);
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .departments {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}
