
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #054966;
}

header {
    width: 100%;
    background-color: #020e1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020e1d;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  .team-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.card {
    width: 550px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 6px #0000004d;

}

.card-header {
    background-color: #0d2c3a;
    padding: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
}

.card-header img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    border: 5px solid #fff;
}

.card-body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-body h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
}

.card-body h3 {
    font-size: 1rem;
    color: #2a9d8f;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

.contact-btn {
    background-color: #2a9d8f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #21867a;
}

.pie-pagina {
    background-color: #020e1d;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
  }


p{
    text-align: justify;
  }

.titulo-aplicaciones{
    text-align: center;
    color: #fff;
    font-size: 35px;
}