body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #054966;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020e1d;
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tituloaplicaciones {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.header-logo {
  height: 50px;
  float: left;
  margin-right: 20px;
}

.developer {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

.developer img {
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 10px;
}

.about-company {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

footer {
  background-color: #020e1d;
  color: white;
  text-align: center;
  padding: 1em 0;
  bottom: 0;
  width: 100%;
}

.applications-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.application-card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.application-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}