* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #054966;
  color: #333;
}

.encabezado-pagina {
  width: 100%;
  background-color: #020e1d;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

.logo-encabezado {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 15px;
}

.encabezado-pagina h1 {
  align-self: center;
}

.contenido-principal {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.tarjeta-desarrollador {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta-desarrollador:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.tarjeta-desarrollador img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto 10px;
  display: block;
  border: 5px solid #020e1d;
}

.tarjeta-desarrollador h2 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 8px;
}

.tarjeta-desarrollador p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 15px;
  text-align: justify;
  padding: 0 15px;
}


/* Sección de aplicaciones */
.seccion-aplicaciones {
  margin-top: 20px;
  width: 100%; /* Para que ocupe todo el ancho */
  display: flex; /* Para alinear el título */
  flex-direction: column; /* Para que el título esté arriba */
  align-items: center; /* Centra el título horizontalmente */
}

.titulo-aplicaciones {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.contenedor-aplicaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tarjeta-aplicacion {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta-aplicacion img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  display: block; /* Para centrar la imagen */
  margin-left: auto;
  margin-right: auto;
}

.tarjeta-aplicacion h3 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 8px;
}

.tarjeta-aplicacion p {
  font-size: 0.95rem;
  color: #666;
  text-align: justify;
}


/* Pie de página */
.pie-pagina {
  background-color: #020e1d;
  color: white;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  margin-top: auto;
}